.current-weather #weather-description {
    color: #6F748C;
    text-align: center;

}

.city-name,
.temerature-block,
.measure {
    margin-top: 1.5rem;
}

.temerature-block,
.additional-weather-info,
.weather-description {
    display: flex;
    justify-content: center;
    text-align: center;
}

.temperature,
.temperature-unit {
    font-size: 5rem;
    font-weight: 800;
    margin-left: 1rem;
}

.measure {
    font-size: 1.2rem;
    margin-left: 0.4rem;
    font-weight: 800;
}

.active,
.inactive {
    font-weight: 800;
    margin: 0.5rem;
}

.active {
    color: #32364D;

}

.inactive {

    color: #B093FF;
}

.weather-icon {
    width: 1.5rem;
    margin-right: 0.5rem;

}

.additional-weather-info {
    margin-bottom: 2rem;
}

#wind-speed,
#humidity {
    font-weight: 800;
}

@media (min-width: 768px) {

    .temerature-block,
    .additional-weather-info,
    .city-name,
    .addtional-forecast,
    .Search,
    .weather-description {
        display: flex;
        flex-direction: row;
        justify-content: left;
        text-align: left;
    }
}